.flex--row {
	display: flex;
}

.board-contents {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: white;
	min-height: 600px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ebecef;
}

.board__header {
	border-bottom: 1px solid #ebecef;
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.board__header-title {
	font-size: 26px;
}

.board__header-info {
	display: flex;
	justify-content: space-between;
}

.write-info {
	margin-left: 10px;
}

.wirte-info__nickname {
	font-size: 14px;
	font-weight: bold;
}

.board-like {
	font-size: 16px;
	display: flex;
	align-items: center;
}

.board-like-button {
	cursor: pointer;
}

.board-like-button--active {
	color: #1890ff;
	cursor: pointer;
}

.board-like-counts {
	font-size: 16px;
	padding: 0 3px;
}

.board-content {
	padding: 10px 5px;
	font-size: 16px;
	line-height: 1.6;
}

.board-comments {
	background-color: white;
	padding: 20px;
}

.board-comments-title {
	font-size: 20px;
}
.board-comments-title > .comment-icon {
	margin-right: 6px;
}
